#login-modal(role="dialog", data-remote="/user/login").modal.hide.fade
  div.modal-header
      button.close(data-dismiss='modal') x
      h3 Bejelentkezés
  div.modal-body.login
    
  div.modal-footer



