#new-workout-modal(role="dialog", data-remote="/workouts/new").modal.hide.fade
  div.modal-header
      button.close(data-dismiss='modal') x
      h3 Új Edzés :)
  div.modal-body.login
    
  div.modal-footer