#register-modal(role="dialog", data-remote="/user/register").modal.hide.fade
  div.modal-header
      button.close(data-dismiss='modal') x
      h3 Regisztráció
  div.modal-body.login
    
  div.modal-footer