extends ../layouts/default

block main
  h2.visible-desktop.visible-tablet= title
  p Pár dolog az oldallról és, hogy miért jött létre.


block content
  p Pehelysúlyú, egyszerűen használható, mobilbarát workout logger. Segítségével könnyedén nyomon tudod követni, az eredményeidet. Segít abban, hogy folyamatosan fejlődni tudjon a sportteljesítményed. 
  p A projekt ötlet onnan jött, hogy már több mint 5 éve komolyan sportolok és valahogy szerettem volna nyomon követni a fejlődésemet, illetve egy idő után azt éreztem, hogy megrekedtem egy szinten, először papír alapon írogattam  az eredményeket, de rájöttem, hogy hosszú távon ez nem célravezető, mivel rengeteg adat halmozódik fel és néha el is hagytam pár cetlít, ekkor jött a az ötlet, egy workout logger site-ról, ami mobilbarát, mivel így edzés után rögtön fel tudom vinni az eredményeket. Mára már nagyon sok embernek van okostelefonja mobilnet kapcsolattal, így könnyen kapcsolódni tud az internetre szinte bárhonnan.
  p Jelenleg fronted fejlesztőként dolgozom a Virgo Systems Kft-nél, így jött az ötlet, hogy szerver oldali JavaScript a NodeJS segítségégével készítsem el az oldalt. A NodeJS mellé akkor már érdemes egy noSQL alapú szintén aszinkron működést preferáló adatbázis kezelő rendszert használni, ami persze a MongoDB lett. Ez a páros a PHP+MySQL kombináció  nagyon ütős alternatívája.