extends ../layouts/default

block main
  h2.visible-desktop.visible-tablet= title
  p Keress meg bátran a véleményed észrevételeid az oldallal kapcsolatban.


block content
  h3 
    | Oldal készítője: 
    | Tamás Csaba
  p E-mail: 
    |  tamcsaba@gmail.com 
    i.icon-envelope
  p Bátran küldj e-mailt az esetleges hibákról szívesen fogadok bármilyen észrevételt.