!!! 5
html.no-js(lang='hu', xmlns='http://www.w3.org/1999/xhtml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    #wrapper
      #topbar
        include ../includes/topbar
      #header
        include ../includes/header
      #masthead
        .container
          .masthead-pad
            .masthead-text
              block main

      #content
        .container
          block content
    include ../includes/footer

